<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevilMakujin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DevilMakujin.Properties.Settings>
            <setting name="Scale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StageMusicVolume" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="OtherMusicVolume" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="GunVolume" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="VoiceVolume" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="StartingStage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OldPhysicsSpeedDescreaseMultiplier" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="OldPhysicsMaxEntitySpeed" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="OldPhysicsAcceleration" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="OldPhysicsMinSpeedThreshold" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="AstPhysicsSpeedDescrease" serializeAs="String">
                <value>0.99</value>
            </setting>
            <setting name="AstPhysicsAcceleration" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AstPhysicsMaxSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AstPhysicsMinSpeed" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="AstPhysicsRotationRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DefaultPhysicsMode" serializeAs="String">
                <value>1</value>
            </setting>
        </DevilMakujin.Properties.Settings>
    </applicationSettings>
</configuration>